# Database
DATABASE_URL="postgresql://kullanici:sifre@localhost:5432/qr_menu_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gizli_bir_sifre_olusturun_ornegin_openssl_rand_base64_32_ile"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Konum kilidi (varsayılan: kapalı). true yapılırsa işletmede lat/lng tanımlı olmalı.
# ENABLE_LOCATION_LOCK=false
